*, ::before, ::after
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: auto;
    padding-top: 64px;
    min-width: 375px;
    max-width: 1440px;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background: hsl(0, 0%, 95%);
    font-family: 'Lexend Deca', sans-serif;
    font-size: 15px;
}

.cards
{
    padding: 32px;
    width: 320px;
    height: 500px;
}
.cards img
{
    margin: 16px 0;
}
.cards h2
{
    margin: 16px 0;
    font-family: 'Big Shoulders Display', cursive;
    font-size: 48px;
    text-transform: uppercase;
    color: white;
}
.cards p
{
    margin: 32px 0;
    color: hsla(0, 0%, 100%, 0.75);
    line-height: 1.8;
}
.cards button
{
    padding: 16px 32px;
    border: none;
    border-radius: 50px;
}
.cards button:hover, .cards button:active
{
    border: solid 2px white;
    background: transparent;
    color: white;
}
.one
{
    background: hsl(31, 77%, 52%);
    border-radius: 10px 10px 0 0;
}
.one button
{
    color: hsl(31, 77%, 52%);
}
.two
{
    background: hsl(184, 100%, 22%);
}
.two button
{
    color: hsl(184, 100%, 22%);
}
.three
{
    background: hsl(179, 100%, 13%);
    border-radius: 0 0 10px 10px;
}
.three button
{
    color: hsl(179, 100%, 13%);
}

.attribution 
{
    margin: 32px 0;
    width: 100%;
    font-size: 11px; text-align: center; 
}
    
.attribution a
{
    color: hsl(228, 45%, 44%); 
}

@media screen and (min-width: 992px)
{
    .one
    {
        border-radius: 10px 0 0 10px;
    }
    .three
    {
        border-radius: 0 10px 10px 0;
    }
}