* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: hsl(0, 0%, 95%);
    font-family: 'Lexend Deca', sans-serif;
    color: hsla(0, 0%, 100%, 0.75);
}
main {
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.card {
    width: 80vw;
    height: auto;
}
.card h2 {
    font-family: 'Big Shoulders Display', cursive;
    color: hsl(0, 0%, 95%);
}
.card button {
    font-family: 'Big Shoulders Display', cursive;
    background: hsl(0, 0%, 95%);
}
.first {
    background: hsl(31, 77%, 52%);
}
.second {
    background: hsl(184, 100%, 22%);
}
.three {
    background: hsl(179, 100%, 13%);
}
.attribution {
    font-size: 11px;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}